<h1>Upload new post</h1>
<form [formGroup] = "uploadForm" (ngSubmit)="submitPost()">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">{{errorMessage}}</div>
    <div class="alert alert-success" role="alert" *ngIf="dataMessage != ''">{{dataMessage}}</div>

	<div class="form-group">
		<label for="NewPostDescription">Description</label>
		<textarea class="form-control" id="NewPostDescription" rows="3" name="description" (change)="onDescriptionChanged($event)"></textarea>
	</div>  
	<div class="input-group">
	  <div class="custom-file">
		<label for="postPictureInput">Photo</label>
		<input type="file" class="custom-file-input" id="postPictureInput" aria-describedby="postPictureAddon" name="photo" (change)="onFileSelected($event)">
		<label class="custom-file-label" for="postPictureInput">Choose file</label>
	  </div>
	  <div class="input-group-append">
		<button class="btn btn-outline-secondary" type="submit" id="postPictureAddon">Upload</button>
	  </div>
    </div>
</form>